{% extends 'base.html' %}

{% block content %}
<div style="margin-top:100px;"class="container jumbotron">

  <p>
   Girdiğiniz e-postada bir hesap varsa, şifrenizi yenileme talimatlarını size e-postayla gönderdik. Bunları kısa sürede almalısınız.
  </p>
  <p>
    Bir e-posta almazsanız, lütfen kayıt olduğunuz adresi girdiğinizden emin olun ve spam klasörünüzü kontrol edin.
  </p>
  <p>
    E-Postayı almanız 5 dakika sürebilir.
  </p>
  <p>
    Eğer hesabınızı aktive etmediyseniz E-Posta alamaycaksınız. Bu durumuda lütfen daha önceden yollamış olduğumuz E-Postaları kontrol edin.
  </p>
  <p>
    Sorularınızı <a style="text-decoration:none;"href="mailto:itutakipcidestek@gmail.com">itutakipcidestek@gmail.com</a> adresine yöneltebilirsiniz.
  </p>
</div>
{% endblock %}
